body {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.navbar {
    background-color: #0a3957;
    border-radius: 0;
    height: 60px;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar-brand img {
    height: 33px;
    width: 160px;
}

.navbar .user span {
    color: white;
    position: absolute;
    right: 150px;
    top: 12px;
}

.pull-right {
    color: white;
}

.pull-right h5 {
    font-size: 12px;
}

.search_header form#search {
    box-sizing: border-box;
    /*border-bottom: 2px solid #ccc; */
}

.search_header form#search img {
    height: 29px;
    width: 24px;
}

.search_header form#search input[type=text] {
    position: absolute;
    width: 100%;
    border-bottom: none;
    font-size: 19px;
    border-top: 0;
    border-left: 0;
    background-color: white;
    background-repeat: no-repeat;
    padding: 5px 20px 12px 20px;
    outline: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.title {
    margin-top: 30px;
}

.title h1 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #002e4e;
}

.service i {
    color: #42B02B;
}

.service h2 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #002e4e;
}

.service p {
    font-size: 14px;
    text-align: center;
    color: #8b8b8b;
}

.service img {
    width: 50px;
    height: 50px;
    color: #42b02b;
}

.main-container {
    top: 90px;
    position: relative
}

#services .container {
    /* padding: 10% 8% 10% 10%; */
}

#services .row .col-md-12 ul li a img {
    color: #42b02b;
}

.search_header {
    border-bottom: 2px solid #ccc;
    min-height: 46px;
    padding: 0 10px;
    width: 100%;
    display: block;
}

.search_header .btn {
    background: #41ae2b;
    color: #ffffff;
    border-radius: 2px;
    width: 226px;
    font-size: 13px;
    font-weight: 500;
}

#select .search_header {
    width: 400px;
}

.search_header .btn:hover {
    transition: all 0.5s linear;
    opacity: 0.8
}

.search_header form#search input[type=text] {
    border: 0
}

.search_header form img {
    height: auto;
    width: auto;
}

@media screen and (max-width: 600px) {
    #services .container {
        padding: 5%;
    }
}

@media screen and (max-width: 700px) {
    #services {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #services .container {
        padding: 2%;
    }
}

@media screen and (min-width: 1900px) and (max-width: 2500px) {
    #services .container {
        padding: 5% 0;
    }
}

#services .service-container {
    padding: 0;
    text-align: center;
    /*position: relative;*/
    max-width: 1200px;
    margin: 40px auto 0;
}

#services .service-container li {
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid #DEE3E3;
    border-bottom: 1px solid #DEE3E3;
    margin: -2px;
}

#services .service-container li:nth-of-type(3) {
    border-right: 1px solid transparent;
}

#services .service-container li a {
    color: #333;
    text-decoration: none
}

@media screen and (min-width: 500px) {
    #services .service-container li:nth-of-type(4) {
        border-right: 1px solid #DEE3E3;
    }
}

#services .service-container li:nth-of-type(4) {
    border-right: 1px solid transparent;
    border-left: 1px solid #DEE3E3;
}

#services .service-container li:nth-of-type(5) {
    border-bottom: 1px solid transparent;
}

#services .service-container li:nth-of-type(6) {
    border-bottom: 1px solid transparent;
}

#services .service-container li:nth-of-type(7) {
    border-bottom: 1px solid transparent;
}

#services .service-container li:nth-of-type(8) {
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}

.service-padding {
    padding-top: 50px;
}

#services .service {
    /*display: -webkit-flex;*/
    /* display: -moz-flex; */
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    width: 280px;
    max-width: 100%;
    height: 230px;
    padding: 20px;
}

#services .service figure > img {
    width: 50px;
}

#services .service figure figcaption {
    margin-top: 20px;
}

#services .service figure figcaption svg {
    margin-bottom: -5px;
}

#services .service figure figcaption > span {
    color: #4cae4c;
}

#services .service:hover {
    /* box-shadow: 0px 0px 22px #DEE3E3, inset 0px 1px 2px 5px #DEE3E3; */
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.23), inset 1px 1px 0 0 hsla(0,0%,100%,.2); */
    box-shadow: 0 19px 43px rgba(0, 0, 0, 0.30), 0 0px 14px rgba(0, 0, 0, 0.22);
    overflow: hidden;
}

.landing-content {
    padding: 15%
}

.landing-content h1 {
    color: #42b02b;
    font-size: 25px;
    text-align: center
}

.col1 {
    width: 8%;
    background: #fff;
    padding: 0
}

button.multiselect.dropdown-toggle.btn.btn-default {
    width: 400px;
    background: white;
    color: #002e4e;
}

.col2 {
    width: 90%;
    padding-right: 0;
    padding-left: 0;
}

.sidebar {
    max-width: 125px;
    background: #ffffff;
    /*    width: 100%;*/
    border-right: 1px solid #ddd;
    float: left;
    box-shadow: 2px 0px 13px #999;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 60px;
    bottom: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 0px;
}

.sidebar ul li {
    display: block;
    width: 125px;
    height: 78px;
    margin-bottom: 5px;
    padding-top: 10px;
}

.sidebar ul li:hover {
    background: #f4f4f4;
}

.sidebar ul li a {
    text-align: center;
    color: #6a6b68;
    font-size: 15px
}

.sidebar ul li a:hover {
    text-decoration: none;
}

.sidebar .active {
    border-left: 4px solid #42b02b;
    text-decoration: none;
    background: #f4f4f4;
    float: left;
    width: 100%;
    padding-top: 10px;
}


/*
.sidebar ul li a.logorg:hover,
.sidebar ul li a.consignee:hover,
.sidebar ul li a.vendors:hover,
.sidebar ul li a.rate_matrix:hover,
.sidebar ul li a.master_material:hover,
.sidebar ul li a.bu_cc:hover,
.sidebar ul li a.reports:hover,
.sidebar ul li a.users:hover,
.sidebar ul li a.logorg.active,
.sidebar ul li a.consignee.active,
.sidebar ul li a.vendors.active,
.sidebar ul li a.rate_matrix.active,
.sidebar ul li a.master_material.active,
.sidebar ul li a.bu_cc.active,
.sidebar ul li a.reports.active,
.sidebar ul li a.users.active {
    background-color: #f5f5f5;
    border-left: 4px solid #42b02b;
    text-decoration: none;
}
*/

.sidebar ul li a img {
    height: 30px;
    width: 30px;
    margin: auto;
}


/*
.sidebar ul li a p {
    padding-top: 30px
}
*/

.text-container {
    width: 100%;
    float: left;
    padding-top: 15px;
    top: 80px;
    bottom: 0;
    margin-top: 60px;
}

.content {
    padding: 15px 20px;
    height: 75vh;
    overflow: auto;
}

.hidden-xs {
    text-align: left;
}

a.edit {
    color: #57bd43;
    font-weight: bold
}

a.delete {
    color: #F80409;
    font-weight: bold
}

.dropdown a:hover {
    text-decoration: none
}

table.details {
    border: 1px solid #e6e6e6;
    margin-bottom: 15px
}

table.details th {
    background: #bbc9d6;
    color: #0b284d;
    padding: 6px 10px;
    font-weight: normal
}

table.details td {
    padding: 10px;
    vertical-align: top;
    font-size: 13px
}

table.details span {
    font-family: 'Roboto-Bold';
    display: block
}

table.details a.edit {
    color: #57bd43;
}

.close_btn {
    width: 44px;
    color: #fff;
    display: none
}

.close_btn:before {
    content: "X";
    font-size: 25px;
    color: #fff;
    width: 42px
}

.navbar-toggle .icon-bar {
    background: #fff;
}

table.listing {
    margin-bottom: 15px
}

table.listing th {
    background: #bbc9d6;
    color: #0b284d;
    padding: 6px 10px;
    font-weight: normal
}

table.listing tr {
    border-bottom: 1px solid #ddd
}

table.listing td {
    padding: 12px 10px;
    vertical-align: top;
    font-size: 13px
}

table td input[type="text"],
table td textarea {
    width: auto;
    border: 1px solid #ddd;
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 5px
}

.open_menu:after {
    content: '\2807';
    font-size: 21px;
    color: #2e2e2e
}

.margin-bot-15 {
    margin-bottom: 15px
}

.gate-details {
    border-top: 2px solid #f7f7f7;
    border-bottom: 2px solid #f7f7f7;
    border-right: 2px solid #f7f7f7;
}

.gate-details tr {
    border-bottom: 1px solid #f3f3f3;
}

.gate-details td:first-child {
    border-left: 2px solid #47b033;
    background: #fbfbfb;
    border-right: 2px solid #f3f3f3;
    padding-left: 20px
}

.gate-details td.red:first-child {
    border-left: 2px solid #e87070;
    background: #fbfbfb;
    border-right: 2px solid #f3f3f3;
}

.modal-dialog {
    max-width: 940px;
    width: 100%;
    margin: 100px auto;
    text-align: left
}

.modal-content {
    border-radius: 0px;
    width: 100%;
    float: left;
    height: 635px;
    overflow: auto;
}

.modal-content button.close {
    content: 'X';
    font-size: 60px;
    opacity: 1;
    color: #fff;
    font-family: 'Roboto-Light';
    position: relative;
    right: 11px;
    top: -4px;
    z-index: 100000;
    font-weight: normal;
}

.modal-content header {
    background: #002e4e;
    color: #fff;
    text-align: center;
    height: 60px;
}

.modal-content header h1 {
    margin-top: 0;
    font-size: 20px;
    line-height: 60px
}

.modal-body {
    padding: 35px;
    float: left;
    width: 100%;
    min-height: 200px
}

.modal-body input[type=submit],
.modal-body button[type=button] {
    padding: 5px 12%;
    font-size: 21px
}

a.add-manager {
    background: url(../images/icon-add.png) no-repeat left top;
    padding-left: 40px;
    height: 50px;
    float: left;
    line-height: 30px;
}

.btnclose {
    background: #fff;
    color: #57bd43;
    border-radius: 5px;
    border: 1px solid #57bd43
}

.xls {
    background: #d3e8cf;
    color: #4db42f;
    width: 100%;
    padding: 8px 10px;
    float: left;
    margin: 25px 0;
    font-size: 21px
}

a.modal_link {
    color: #1e445d;
    font-size: 21px;
    text-decoration: underline;
    margin: 10px 0;
    display: block
}

.modal_txt {
    color: #4db42f;
    font-size: 21px
}


/*#gate_open{ display:none}*/

@media screen and (max-width:1366px) {
    .col1 {
        width: 10%
    }
}

@media screen and (max-width:1280px) {
    .col1 {
        width: 11%;
    }
    .col2 {
        width: 89%
    }
}

@media screen and (max-width:1024px) {
    .col1 {
        width: 13%;
    }
    .col2 {
        width: 87%
    }
}

@media (min-width: 768px) {
    .navbar-toggle {
        margin-top: 21px;
        display: block;
    }
    .close_btn {
        width: 44px;
        color: #fff;
        display: none
    }
}

@media (min-width: 980px) {
    .navbar-toggle {
        display: none;
    }
}

@media screen and (max-width:980px) {
    .navbar-header {
        width: 100%;
        margin-left: 30px;
    }
    .navbar-toggle {
        margin-top: 10px;
    }
    .user {
        display: none
    }
    #myNavbar {
        top: 90px;
        position: fixed;
        z-index: 100000;
        height: 100%;
        bottom: 0;
        left: -200px;
        width: 200px;
        background: #FFFFFF
    }
    .sidebar {
        max-width: 200px;
    }
    .col2 {
        width: 98%
    }
    .sidebar ul li {
        width: auto;
        height: 50px;
    }
    .sidebar ul li a {
        padding-left: 50px;
        text-align: left;
        width: 250px;
    }
    .sidebar ul li a.logorg {
        background: url(../images/logorg.png) no-repeat 10px top;
        display: inline-block;
    }
    .sidebar ul li a.consignee {
        background: url(../images/consignee.png) no-repeat 15px top;
        display: inline-block
    }
    .sidebar ul li a.vendors {
        background: url(../images/vendors.png) no-repeat 15px top;
        display: inline-block
    }
    .sidebar ul li a.rate_matrix {
        background: url(../images/rate_matrix.png) no-repeat 15px top;
        display: inline-block
    }
    .sidebar ul li a.master_material {
        background: url(../images/master_material.png) no-repeat 15px top;
        display: inline-block
    }
    .sidebar ul li a.bu_cc {
        background: url(../images/glcc.png) no-repeat 15px top;
        display: inline-block
    }
    .sidebar ul li a.reports {
        background: url(../images/reports.png) no-repeat 15px top;
        display: inline-block
    }
    .sidebar ul li a.users {
        background: url(../images/users.png) no-repeat 15px top;
        display: inline-block
    }
    .sidebar ul li a p {
        padding-top: 0px;
        display: inline-block;
    }
}

@media screen and (max-width:800px) {
    .search_header {
        min-height: 100%;
        float: left;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .search_header form#search {
        margin-bottom: 8px;
    }
    .text-container {
        width: 100%;
    }
}

@media screen and (max-width:640px) {
    .navbar-brand {
        width: 75%;
    }
    .navbar-brand img {
        height: auto;
        width: 94%;
    }
    .navbar-toggle {
        margin-right: 0px;
    }
    .col2 {
        width: 100%;
    }
    .search_header {
        padding: 0 0px;
    }
    .content {
        padding: 15px 0px;
    }
    .search_header .col-xs-6,
    .col-xs-12 {
        padding: 0
    }
    .landing-content {
        padding: 15% 0;
    }
}

@media screen and (max-width:480px) {
    .content {
        width: 400px;
        overflow: auto;
    }
}

#card {
    border: 1px solid #e9e9e9;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    transition: box-shadow .4s ease-in-out;
}

#card .header {
    background-color: #bacddb;
    padding-top: 10px;
    padding: 5px;
}

#card .body {
    padding-top: 10px;
}

#card .body .col-sm-1 {
    padding-top: 12px;
    font-size: 20px;
}

#card span {
    font-family: 'Roboto-Bold';
}

#card p {
    font-size: 13px;
}

#card a {
    text-decoration: none;
}

#card .anchor {
    padding-top: 10px;
    margin-top: 10px;
}

#card .anchor a {
    color: #42b12b;
    line-height: 30px;
}

#card .gate {
    width: auto;
    padding: 5px;
}

@media (min-width: 1200px) {
    .gate {
        width: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: auto;
    }
}

.logorgs {
    background: #f8f8f8;
    border: solid 0.5px #d4d4d4;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

.logorgs .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

.first {
    height: 70px;
    border-left: 2px solid #47b033;
    background: #fbfbfb;
    border-right: 2px solid #f3f3f3;
    padding-left: 20px;
}

.searchform {
    border-radius: 2px;
    border: solid 1px #002e4e;
    color: #002e4e;
    font-weight: 500;
    font-size: 13px;
}

.sla {
    background: #41ae2b;
    border-radius: 2px;
    width: 226px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

#vendor {
    margin-top: 10px;
}

#vendor .header {
    background-color: #f8f8f8;
    border: solid 0.5px #d4d4d4;
}

#vendor .body {
    background-color: #f8f8f8;
    border: solid 0.5px #d4d4d4;
    padding-top: 15px;
}


/*
::-webkit-scrollbar {
      width: 15px;
    
} 
::-webkit-scrollbar-track {
      background-color: white;
}
 
::-webkit-scrollbar-thumb {
      background-color: #fdfdfd; 
}
 
::-webkit-scrollbar-button {
      background-color: white;
}
 
::-webkit-scrollbar-corner {
      background-color: white;
} 


*/

#card:hover {
    box-shadow: 0 19px 43px rgba(0, 0, 0, 0.10), 0 0 14px rgba(0, 0, 0, 0.10);
}

#gateModal .row {
    padding: 7px;
}

#gateModal .modal-header {
    padding: 0;
}

#gateModal .modal-title {
    padding-top: 10px;
    color: #42b02b;
}

#gateModal .row .col-md-4 p {
    color: #002e4e;
    font-weight: 500;
}

#gateModal .modal-footer {
    text-align: center;
}

#gateModal .modal-footer .btn-default {
    background-color: #3db100;
    color: white;
    border-radius: 2px;
    width: 170px;
}

#userModal .modal-title {
    padding-top: 10px;
    font-size: 30px;
}

#userModal .modal-dialog {
    margin-top: 30px;
}

#userModal .modal-header {
    padding: 0;
}

#userModal .modal-footer {
    text-align: center;
}

#userModal .btn-default {
    margin-right: 20px;
    color: #42b02b;
    background: white;
    width: 160px;
    border-radius: 2px;
}

#userModal .btn-success {
    margin-left: 20px;
    color: white;
    background: #42b02b;
    width: 160px;
    border-radius: 2px;
}

#userModal label {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #5d5d5d;
}

#userModal .form-control {
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #979797
}

/*
#rate .nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background: white;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #002e4e;
    border-bottom: 4px solid #42b02b;
    border-radius: 0;
}

#rate .nav-pills > li > a {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #002e4e;
}
*/

#rate .nav-pills a:hover {
    background: white;
}

#rate .table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
    text-align: center;
    padding: 20px;
}

#rate .table > thead > tr > td {
    padding-bottom: 20px;
}

#detention {
    padding: 25px;
}

#menu1 table {
    table-layout: fixed;
}

#menu1 th {
    width: 220px;
}

#bulk .modal-header {
    background-color: #002e4e;
    text-align: center;
    color: #ffffff;
    height: 56px;
    padding-top: 10px;
}

#bulk .modal-content {
    height: 50%;
}

#bulk .modal-title {
    font-size: 23px;
}

#bulk .close {
    font-size: 44px;
}

#bulk .modal-body .col-md-12 {
    padding-bottom: 10px;
}

#bulk .modal-body .container .add {
    font-size: 25px;
    font-weight: 500;
    color: #002e4e;
}

#bulk .modal-body .container .or {
    font-size: 25px;
    font-weight: 500;
    color: #41ae2b;
}

#bulkUpload .modal-header {
    background-color: #002e4e;
    text-align: center;
    color: #ffffff;
    height: 56px;
    padding-top: 10px;
}

#bulkUpload .close {
    font-size: 44px;
}

#bulkUpload .modal-content {
    height: 55%;
}

#bulkUpload .modal-body {
    padding-top: 50px;
    min-height: 225px;
}

#bulkUpload .btn {
    border-radius: 2px;
    border: solid 1px #41ae2b;
    background: #ffffff;
    color: #41ae2b;
    width: 226px;
    height: 52px;
    font-size: 23px;
    font-weight: 400;
    padding: 10px;
}

#bulkUpload .btn-success {
    background: #41ae2b;
    color: white;
    float: right;
}

#bulkUpload1 .modal-header {
    background-color: #002e4e;
    text-align: center;
    color: #ffffff;
    height: 56px;
    padding-top: 10px;
}

#bulkUpload1 .close {
    font-size: 44px;
}

#bulkUpload1 .modal-content {
    height: 55%;
}

#bulkUpload1 .modal-body {
    padding-top: 50px;
    min-height: 225px;
}

#bulkUpload1 .btn {
    border-radius: 2px;
    border: solid 1px #41ae2b;
    background: #ffffff;
    color: #41ae2b;
    width: 226px;
    height: 52px;
    font-size: 23px;
    font-weight: 400;
    padding: 10px;
}

#bulkUpload1 .btn-success {
    background: #41ae2b;
    color: white;
    float: right;
}

#add_user .modal-body {
    padding: 0;
    padding-top: 12px;
}

#add_user .modal-content {
    width: 61%;
    margin-left: 20%;
}

#edit_user .modal-header {
    padding: 5px;
}

#edit_user .modal-content {
    width: 80%;
    margin-left: 13%;
}

#edit_user .modal-body {
    padding-top: 10px;
}

#edit_user .btn-default {
    width: 85px;
    height: 30px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #41ae2b;
    color: #41ae2b;
    padding: 5px;
    margin-right: 20px;
}

#edit_user .btn-success {
    width: 85px;
    height: 30px;
    border-radius: 2px;
    background-color: #41ae2b;
    color: white;
    padding: 5px;
    margin-left: 20px;
}

#edit_user .form-control {
    width: 317px;
    height: 35px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #979797;
}

.second .col-md-12 {
    margin-top: 20px;
    background: #d6ebd2;
    width: 800x;
    padding-top: 15px;
    height: 52px;
}

#email {
    padding-left: 0;
    padding-right: 0;
}

#email .header {
    background: #002e4e;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 8%;
}


#email .body {
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: absolute;
    top: 20%;
    left: 20%;
    box-shadow: 1px 2px 2px #ccc;
}

#email .body h3 {
    color: #2e4255;
    font-size: 2em;
    font-weight: bold;
}

#email hr {
    border: 0.5px solid #ccc;
    margin-right: 2%;
    margin-left: 2%;
}

#email .body .col-md-12 {
    margin-bottom: 1.5%;
}

#email .body span {
    color: #42ae2b;
    font-size: 1em;
    font-weight: 700;
}

#email .body p {
    color: #2e4255;
    font-weight: 300;
}

#email .body .details {
    padding-top: 2%;
}

#email .body .button h4 {
    font-weight: bold;
    color: #2e4255;
}

#email .body .button .btn {
    width: 20%;
    border-radius: 2px;
    background-color: #72b339;
    outline-color: #72b339;
}

#email .bottom {
    margin-top: 23%;
    width: 40%;
    text-align: center;

}

#email .bottom p {
    color: #a7afb3;

}

@media screen and (max-width:1280px) {
    #email .bottom {
        margin-top: 45%;
    }
}

@media screen and (max-width:360px) and (max-width:640px) {
    #email .header .img {
        width: 50%;
    }
    #email .body {
        width: 80%;
        position: absolute;
        top: 8%;
        left: 10%;
    }
    #email .body h3 {
        font-size: 1em;
    }
    #email .body h4 {
        font-size: 0.9em;
    }
    #email .body span {
        font-size: 0.8em;
    }
    #email .body p {
        font-size: 0.8em;
    }
    #email .bottom {
        width: 85%;
        margin-top: 100%;
    }
    #email .bottom p {
        font-size: 0.6em;
    }
}

@media screen and (max-width:412px) {
    #email .header .img {
        width: 50%;
    }
    #email .body {
        position: absolute;
        top: 10%;
        left: 8%;
        width: 85%;
    }
    #email .bottom {
        margin-top: 98%;
        width: 85%;
    }
    #email .bottom p {
        font-size: 0.8em;
    }
}

@media screen and (max-height:568px) {
    #email .bottom {
        margin-bottom: 110%;
        width: 90%;
    }
}

@media screen and (max-width:414px) {
    #email .header .img {
        width: 50%;
    }
    #email .body {
        position: absolute;
        top: 9%;
        left: 7%;
        width: 86%;
    }
    #email .body h3 {
        font-size: 1.5em;
    }
    #email .bottom {
        width: 85%;
        margin-top: 100%;
    }
    #email .bottom p {
        font-size: 0.8em;
    }
}

#orders {
    padding-right: auto;
    background: #eee;

}

#orders .navbar {
    background: #002034;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0.5rem 0;
}

#orders .navbar .header {
    width: 100%;
}

#orders .navbar .header img {
    height: 100%;
    width: 100%;
}

#orders .navbar .navs {
    width: 100%;
}

#orders .navbar .navs .user-details {
    color: #ced1d7;
    padding-left: 0.8rem;
}

#orders .navbar .navs .user-details span {
    font-size: 0.85rem;
}

#orders .navbar .navs .user-details p {
    font-size: 0.7rem;
    padding-top: 0.2rem;
}

#orders .navbar .navs .user-details .fa {
    margin-top: .3em;
    color: #ced1d7;
    font-size: 1.2em;
    padding-right: 1rem;
}

#orders .navbar .navs .nav {
    width: 100%;
}

#orders .navbar .navs .nav ul li a:hover {
    background: #001b2d;
    color: white;
    transition: 0.5s;
}

#orders .navbar .navs .nav ul li a {
    color: #b2bbc9;
    font-size: 0.75em;
    padding: 1.5em 1em 1.3em 2em;
}

#orders .navbar .navs .nav ul li a img {
    padding: 0 0.9em 0 0;
    width: 19%;
}

#orders .filters {
    position: fixed;
    left: 16%;
    background: #002f4d;
    max-width: 23%;
    height: 100vh;
}

#orders .filters .header {
    width: 100%;
    padding: 2%;
}

#orders .filters .header input[type=text] {
    background: #002f4d;
    border: solid 1px #002f4d;
    box-sizing: border-box;
    color: white;
    padding: 0.5em;
    outline-color: #002f4d;
}

#orders .filters .header .dropdown .btn-success {
    background: #37ad59;
    border-radius: 0;
    font-size: 0.75rem;
    margin: 0.5em;
    width: 95%;
    border: none;
    box-shadow: none;

}

#orders .filters .header .dropdown .dropdown-menu {
    width: 95%;
    border-radius: 0;

}

#orders .filters .back {
    border-bottom: 1px solid #002034;
}

#orders .filters .back .fa {
    color: white;
    margin: 0.2em 0.3em 0 0.2em;
}

#orders .filters .back a {
    text-decoration: none;
    color: white;
}

#orders .filters .orders {
    padding: 1em 0 0 1em;
    color: white;
}

#orders .filters .orders .orderlist {
    padding: 1em;
    border-bottom: 1px solid #13364a;
    padding: 20px 30px;
    cursor: pointer;
    background: #002f4d;
    width: 100%;
    font-size: 0.9em;
    color: #dee1e5;
}

#orders .filters .orders .orderlist .badge {
    margin: 0 0 0 2em;
    border: 1px solid #de5255;
    border-radius: 3px;
    color: #fff;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

#orders .view {
    left: 39%;
}

#orders .view .heading {
    padding: 1em;
    font-size: 0.8em;
    font-weight: bold;
}

#orders .view .singleOrder .details {
    background: white;
    border-radius: 2px;
    padding: 1em 0;
}

#orders .view .singleOrder .details span {
    color: #7f888f;
    font-size: 0.75em;
}

#orders .view .singleOrder .details p {
    font-size: 0.75em;
}

#orders .view .singleOrder .details .container {
    border-bottom: 2px solid #f4f5f5;
    padding-right: 0;
    padding-top: 0.5em;
}

#orders .view .singleOrder .details .container .accordion {
    background: #eee;
    border-radius: 3px;
}

#orders .view .singleOrder .details .container .accordion span {
    font-size: 0.65em;
}

#orders .view .singleOrder .materialDetail {
    background: #f7f7f7;
}

#orders .view .singleOrder .materialDetail .actionButton {
    padding: 2em 1em 0 0;
}

#orders .view .singleOrder .materialDetail .actionButton .col-12 {
    margin: 0 1em 1.5em 0;
}

#orders .view .singleOrder .materialDetail .edit .btn-default {
    background: white;
    border: 1px solid #4d89ee;
    font-size: 0.7em;
    width: 100%;
    border-radius: 2px;
}

#orders .view .singleOrder .materialDetail .material .btn-primary {
    widows: 100%;
    font-size: 0.7em;
    border-radius: 2px;
}

#orders .view .singleOrder .materialDetail .loading span {
    font-size: 0.7em;
    color: #7f888f;
}

#orders .view .singleOrder .materialDetail .loading p {
    font-size: 0.7em;
}

#orders .view .singleOrder .materialDetail .loading .edit {
    background: white;
    font-size: 0.7em;
    border: 1px solid #4d89ee;

}

#orders .view .singleOrder .materialDetail .loading .btn-danger {
    background: white;
    font-size: 0.7em;
    border: 1px solid #F40E12;
    color: #f40e12;
    margin: 1em;
}

#orders .view .singleOrder .materialDetail .modal-header .modal-title {
    color: #949494;
    font-size: 1.3em;
    margin: auto;
}

#orders .view .singleOrder .materialDetail .modal-body {
    padding: 0.5em;
    font-size: 0.9em;
}

#orders .view .singleOrder .materialDetail .modal-content {
    width: 100%;
    height: auto;
}

#orders .view .singleOrder .materialDetail .modal-footer {
    border: none;
    justify-content: flex-start;
}

#orders .view .singleOrder .materialDetail .material .modal-body .table th {
    color: #46b01c;
    font-size: 0.8em;
}

#orders .table th {
    border: none;
    font-size: 0.8em;
}

#orders .table td {
    border: none;
    font-size: 0.8em;
}

#orders .view .singleOrder .materialDetail .material .modal-body input[type=text] {
    border-radius: 3px;
    width: 100%;
}

#orders .single {
    position: relative;
    left: 39%;
}

#orders .single .heading {
    font-size: 0.8em;
    font-weight: bold;
    padding: 1em;
    color: #343534;
}

#orders .single .form {
    background: white;
    border-radius: 3px;
    padding: 2em 2em 2em 2em;


}

#orders .single .form label {
    font-size: 0.7em;
}

#orders .single form {
    width: 100%;
}

#orders .single .form select {
    width: 100%;
    font-size: 0.7em;
    height: 75%;
    padding: 0.2em;
}

#orders .single .form input {
    width: 100%;
    font-size: 0.7em;
    height: 75%;
    padding: 0.2em
}

#orders .single .selectConsignee {
    border-top: 2px solid #f4f5f5;
    border-bottom: 2px solid #f4f5f5;
    padding: 1em;
    margin-bottom: 1em;
}

#orders .single .selectConsignee .btn-primary {
    padding: 0.5em 1em 0.5em 1em;
    font-size: 0.8em;
}

#orders .single .submit .btn-danger {
    background: white;
    border-radius: 3px;
    color: red;
    width: 15%;
    height: 60%;
    font-size: 0.7em;
}

#orders .single .submit .btn-primary {
    font-size: 0.7em;
    height: 60%;
    width: 15%;
    border-radius: 3px;
}

#orders .single .form .heading {
    color: #949494;
    font-size: 1em;
}

#orders .single .form .list a {
    text-decoration: none;
    color: black;
}

#orders .single .form .search input[type=text] {
    margin-left: 0px;
    margin-bottom: 15px;
    width: 88%;
    box-sizing: border-box;
    font-size: 15px;
    background-color: transparent;
    background-image: url(../images/search.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding: 0px 0px 15px 40px;
    position: relative;
    color: #42b02b;
    border-radius: 0px;
    border: 0;
    border-bottom: 1px solid #42b02b;
    line-height: 30px;
    cursor: pointer;
}

#orders .single .form .selectConsignee {
    height: 40%;
}

#orders .single .form .selectConsignee .addConsignee {
    height: 100%;
    width: 30%;
    border: 1px solid #ddd;
    float: left;
    border-radius: 4px;
    box-shadow: 0px 0px 6px #e7e7e7;
}

#orders .single .form .selectConsignee .addConsignee .fa {
    margin-top: 1em;
    color: #1f96ef;
}

#orders .single .form .selectConsignee .addConsignee a {
    color: black;
    font-size: 0.8em;
    text-decoration: none;
}

#invoice h5 {
    font-size: 1em;
    font-weight: 600;
    color: #333333;
}

#invoice h6 {
    font-weight: bold;
    font-size: 0.8em;
}

#invoice p {
    font-size: 0.8em;
    color: #666666;
    margin: 0;
}

#invoice span {
    font-weight: bold;
    font-size: 0.9em;
    color: #666666;
}

#invoice .vendorDetails {
    padding: 1em;
    line-height: 1em;
}

#invoice h4 {
    font-size: 1em;
    font-weight: bold;
    color: #3498db;
    line-height: 0.5em;
}

#invoice .consigneeDetails {
    margin-bottom: 10em;
}

#invoice .heading {
    font-size: 0.8em;
    font-weight: 600;
    color: #002f4d;
    border-bottom: 1px solid #002f4d;
    margin-top: 3em;
    padding-bottom: 1em;
}

#invoice .details {
    font-size: 0.9em;
    font-weight: 600;
    text-align: left;
    color: #757575;
    background: #faf9f9;
    padding: 1em 0 1em 0;
    border-radius: 2px;
    margin-bottom: 1em;
}

#invoice .freight {
    color: #3498db;
}

#invoice .foot {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    color: #002f4d;
    margin-top: 1em;
}

#invoice .footer .note {
    font-size: 0.9em;
    padding: 1em;
    font-weight: 600;
    line-height: 1.2;
    color: #999999;
}

#invoice .footer .image {
    border-top: 1px solid #002f4d;
    margin: 1em 0 1em 0;
    padding: 1em;
    word-spacing: 4px;
}

#vendorInvoice .col-md-1 {
    max-width: 60px;
    width: 100%;
}

#vendorInvoice .sidebar {
    background: #03132f;
    float: left;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
}

#vendorInvoice .sidebar img {
    height: 20px;
    width: 20px;
}

#vendorInvoice .sidebar img:hover {
    filter: brightness(400%);
}

#vendorInvoice .sidebar .logo {
    width: 28px;
    height: 34.3px;
}

#vendorInvoice .sidebar .col-md-12 {
    padding: 20px;
    cursor: pointer;
}


#vendorInvoice .details .header h1 {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #4d443f;
}

#vendorInvoice .details .header .nav-pills > li.active > a {
    border-radius: 5px;
    background-color: #389adc;
    border: solid 1px #888888;
    font-size: 12px;
}

#vendorInvoice .details .header .nav-pills > li > a {
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #389adc;
    font-size: 12px;
}

#vendorInvoice .details .header p {
    font-size: 13.5px;
    font-weight: 600;
    line-height: 1.07;
    color: #4d443f;
}

#vendorInvoice .details .header {
    position: fixed;
    top: 0;
    width: 95%;
}

#vendorInvoice .details .tab-content {
    position: relative;
    top: 8em;
}

#vendorInvoice .details .table thead {
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: #4d443f;
}

#vendorInvoice .details .table tbody td {
    font-size: 14px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #848484;
}

#vendorInvoice .details .table-fixed {
    width: 100%;
}

#vendorInvoice .details .table-fixed tbody {
    height: 380px;
    overflow-y: auto;
    width: 100%;
}

#vendorInvoice .details .header .nav-pills > li + li {
    margin-left: 0;
}




#vendorInvoice .details .table-fixed tbody td {
    float: left;
    font-size: 14px;
}

#vendorInvoice .details .tab-content tbody td {
    padding: 8px;
}

#vendorInvoice .details .table-fixed tbody tr:nth-child(even) td {
    border-bottom: 1px solid #6b6b6b;
}

#vendorInvoice .details .table-fixed tbody tr:nth-child(odd) td:nth-of-type(1) {
    border-bottom: 1px solid #6b6b6b;
}

#vendorInvoice .details .table-fixed thead tr th {
    float: left;
    font-size: 12px;
    border-top: 1px solid #6b6b6b;
    border-bottom: 1px solid #6b6b6b;
}

#vendorInvoice .details .tab-content .bottom {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.9px;
    text-align: left;
    color: #333333;
    background: white;
    padding: 0;
    padding-top: 1em;
    padding-left: 3em;
    margin-left: 1em;
    padding-bottom: 1em;
    width: 100%;
    position: fixed;
    bottom: 0;
}


#vendorInvoice .details .tab-content thead tr th:nth-of-type(1) {
    width: 12%;
}

#vendorInvoice .details .tab-content thead tr th:nth-of-type(2) {
    width: 12%;
}

#vendorInvoice .details .tab-content thead tr th:nth-of-type(3) {
    width: 13.8%;
}

#vendorInvoice .details .tab-content thead tr th:nth-of-type(4) {
    width: 13.8%;
}

#vendorInvoice .details .tab-content thead tr th:nth-of-type(5) {
    width: 5%;
}

#vendorInvoice .details .tab-content thead tr th:nth-of-type(6) {
    width: 10.9%;
}

#vendorInvoice .details .tab-content thead tr th:nth-of-type(7) {
    width: 5%;
}

#vendorInvoice .details .tab-content thead tr th:nth-of-type(8) {
    width: 10%;
}

#vendorInvoice .details .tab-content thead tr th:nth-of-type(9) {
    width: 9%;
}

#vendorInvoice .details .tab-content thead tr th:nth-of-type(10) {
    width: 8.5%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(1) {
    width: 12%;
    height: 76px;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(2) {
    width: 7%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(3) {
    width: 5%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(4) {
    width: 8%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(5) {
    width: 5.8%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(6) {
    width: 8.7%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(7) {
    width: 5.1%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(8) {
    width: 5.1%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(9) {
    width: 10.8%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(10) {
    width: 5%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(11) {
    width: 10%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(12) {
    width: 9%;
}


#vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(13) {
    width: 7.3%;
    border-right: none;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(1) {
    width: 7%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(2) {
    width: 5%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(3) {
    width: 8%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(4) {
    width: 5.8%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(5) {
    width: 8.7%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(6) {
    width: 5.1%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(7) {
    width: 5.1%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(8) {
    width: 10.8%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(9) {
    width: 5%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(10) {
    width: 10%;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(11) {
    width: 9%;
    padding: 8px;
}

#vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(12) {
    width: 8.5%;
    padding: 8px;
    border-right: none;
}

@media (min-width:1440px) {
    #vendorInvoice .details .tab-content tbody {
        height: 500px;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(1) {
        width: 12.1%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(7) {
        width: 5.25%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(8) {
        width: 5%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(9) {
        width: 11.1%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(11) {
        width: 10.1%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(6) {
        width: 5.25%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(7) {
        width: 5%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(8) {
        width: 11.1%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(10) {
        width: 10.1%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(11) {
        width: 9.1%;
    }
}

@media (min-width:1680px) {
    #vendorInvoice .details .tab-content tbody {
        height: 900px;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(1) {
        width: 12%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(3) {
        width: 5%
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(5) {
        width: 5.8%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(8) {
        width: 5%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(7) {
        width: 5.1%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(9) {
        width: 10.9%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(10) {
        width: 5%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(11) {
        width: 10%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(odd) td:nth-of-type(12) {
        width: 9%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(2) {
        width: 5%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(4) {
        width: 5.8%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(6) {
        width: 5.1%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(7) {
        width: 5%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(8) {
        width: 10.9%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(9) {
        width: 5%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(10) {
        width: 10%;
    }
    #vendorInvoice .details .tab-content tbody tr:nth-child(even) td:nth-of-type(11) {
        width: 9%;
    }
}

#vendorInvoice .details .tab-content .bottom span {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.01;
    color: #3e9bd9;
}

#vendorInvoice .details .tab-content input[type=text] {
    width: 100%;
    height: 36px;
    border-radius: 0;
    border: none;
    font-weight: bold;
    color: #404040;

}

#vendorInvoice .details .tab-content input[type=text]:focus {
    box-shadow: 2px 2px 14px 0 rgba(156, 156, 156, 0.5);
    outline-color: white;

}

#vendorInvoice .details .tab-content .table tr:nth-child(even) td {
    padding: 0;
}

#vendorInvoice .details .tab-content #details {
    overflow-y: scroll;
    height: 500px;
    width: 105%;
}

@media (min-width:1440px) {
    #vendorInvoice .details .tab-content tbody {
        height: 600px;
    }
    #vendorInvoice .details .tab-content #details {
        height: 750px;
    }
}

@media (min-width:1680px) {
    #vendorInvoice .details .tab-content #details {
        height: 900px;
    }
}


#vendorInvoice .details .tab-content #details .orderBody {
    padding-top: 2em;
}

#vendorInvoice .details .tab-content #details p {
    font-size: 12px;
    color: #4d443f;
}

#vendorInvoice .details .tab-content #details span {
    font-size: 14px;
    font-weight: 600;
    color: #4d443f;
}

#vendorInvoice .details .tab-content .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

#vendorInvoice .details .tab-content #orderDetails .head .border {
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    padding: 10px;
    color: #4d443f;
    margin-top: 1em;
}

#vendorInvoice .details .tab-content #orderDetails .body .border {
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: left;
    height: 75px;
    padding: 5px;
    color: #333333;
}

#vendorInvoice .details .tab-content #orderDetails .col-md-12:nth-child(even) {
    background: #edf8ff;
}

#vendorInvoice .table tbody td {
    border: 1px solid #eeebeb;
}

#vendorInvoice .table ::-webkit-scrollbar {
    width: 0px;

}

#vendorInvoice .table ::-webkit-scrollbar-track {
    background-color: white;
}

#vendorInvoice .table ::-webkit-scrollbar-thumb {
    background-color: #fdfdfd;
}

#vendorInvoice .table ::-webkit-scrollbar-button {
    background-color: white;
}

#vendorInvoice .table ::-webkit-scrollbar-corner {
    background-color: white;
}

#billing .header {
    padding-top: 20px;
    position: fixed;
    left: 6em;
}

#billing .header input[type=text] {
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #fff;
    outline-color: white;
    width: 200px;
    background-image: url(/images/search.png);
    background-repeat: no-repeat;
    height: 32px;
    padding: 5px;
    background-position: left;
    background-position: left;
    background-size: 14px;
}

#billing .header input[type=text]:focus {
    background-image: none;
}

#billing .header select {
    width: -webkit-fill-available;
    height: 32px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: solid 1px #dddcdc;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: #606060;
    outline-color: white;
    padding: 5px;
}

#billing .billingBody {
    position: relative;
    top: 6em;
    left: -2.8em;
}

#billing .billingBody .table-fixed {
    width: 100%;

}

#billing .billingBody tbody {
    height: 480px;
    overflow-y: auto;
    width: 100%;
}
@media (min-width:1440px) {
    #billing .billingBody tbody {
        height: 730px;
    }
}
@media (min-width:1680px) {
    #billing .billingBody tbody {
        height: 900px;
    }
}

#billing .billingBody thead,
tbody,
tr,
td,
th {
    display: block;
}

#billing .billingBody td {
    float: left;
    font-size: 13px;
    line-height: 3.34;
    letter-spacing: 0.6px;
    text-align: left;
    color: #333333;
    height: 40px;
    background-color: #fbfbfb;
    box-shadow: 0 2px 0 0 rgba(215, 215, 215, 0.5);
    padding: 0px 5px 5px 5px;
    margin-top: 10px;
}

#billing .billingBody th {
    float: left;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    color: #4d443f;
    height: 32px;
    border-bottom: solid 1px #6b6b6b;
    border-top: solid 1px #6b6b6b;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 5px;

}

#billing .billingBody .table tbody td {
    border: 1px solid #eeebeb;
}

#billing .billingBody .table ::-webkit-scrollbar {
    width: 0px;

}

#billing .billingBody .table ::-webkit-scrollbar-track {
    background-color: white;
}

#billing .billingBody .table ::-webkit-scrollbar-thumb {
    background-color: #fdfdfd;
}

#billing .billingBody .table ::-webkit-scrollbar-button {
    background-color: white;
}

#billing .billingBody .table ::-webkit-scrollbar-corner {
    background-color: white;
}

#billing .footer {
    height: 50px;
    background-color: #ffffff;
    box-shadow: -1px -1px 4px 0 rgba(195, 195, 195, 0.5);
    position: fixed;
    bottom: 0;
    left: 60px;
    padding: 0.5em 7em 2em 0;
}

#billing .footer button {
    float: right;
    height: 30px;
    border-radius: 5px;
    background-color: #34b015;
    border: solid 1px #888888;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
}

#billing .billingBody .table-fixed thead tr th:nth-of-type(1) {
    width: 12%;
}
#billing .billingBody .table-fixed thead tr th:nth-of-type(2) {
    width: 10%;
}
#billing .billingBody .table-fixed thead tr th:nth-of-type(3) {
    width: 17%;
}
#billing .billingBody .table-fixed thead tr th:nth-of-type(4) {
    width: 20%;
}
#billing .billingBody .table-fixed thead tr th:nth-of-type(5) {
    width: 12%;
}
#billing .billingBody .table-fixed thead tr th:nth-of-type(6) {
    width: 13%;
} 
#billing .billingBody .table-fixed thead tr th:nth-of-type(7) {
    width: 8%;
}
#billing .billingBody .table-fixed thead tr th:nth-of-type(8) {
    width: 8%;
    text-align: right;
    border-right: none;
}
#billing .billingBody .table-fixed tbody tr td:nth-of-type(1) {
    width: 12%;
}
#billing .billingBody .table-fixed tbody tr td:nth-of-type(2) {
    width: 10%;
}
#billing .billingBody .table-fixed tbody tr td:nth-of-type(3) {
    width: 17%;
}
#billing .billingBody .table-fixed tbody tr td:nth-of-type(4) {
    width: 20%;
}
#billing .billingBody .table-fixed tbody tr td:nth-of-type(5) {
    width: 12%;
}
#billing .billingBody .table-fixed tbody tr td:nth-of-type(6) {
    width: 13%;
}
#billing .billingBody .table-fixed tbody tr td:nth-of-type(7) {
    width: 8%;
}
#billing .billingBody .table-fixed tbody tr td:nth-of-type(8) {
    width: 8%;
    text-align: right;
    border-right: none;
}
#billing .billingBody .table td span {
    float: right;
    letter-spacing: 4px;
}
#optima {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
}

#optima .container-fluid {
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
}

#optima .tab {
    height: 100vh;
    background-color: #002036;
    position: fixed;
    bottom: 0;
    width: 228px;
}

#optima .tab .left ul {
    padding-left: 0;
}

#optima .tab .left li {
    list-style: none;
    width: 124%;
    float: left;
}

@media (min-width:1680px) {
    #optima .tab {
        width: 271px;
    }
    #optima .tab .left li {
        width: 150%;
    }
}

#optima .tab .left a {
    text-decoration: none;
}

#optima .tab .left img {
    margin-right: 15%;
    margin-left: 10%;
}

#optima .tab .left ul {
    width: 170px;
    margin-top: 8%;
    margin-left: -8%;
}

#optima .tab p {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
}

#optima .tab .img {
    margin-bottom: 30px;
    padding-top: 10%;
    padding-left: 25%;
}

#optima .tab .left .nav-pills > li.active > a {
    background: #022b47;
}

#optima .tab .left .nav > li > a:hover {
    background: #022b47;
}

#optima .tab .left .nav-pills > li > a {
    border-radius: 0;
}

#optima .tab span {
    position: relative;
    left: 150px;
    bottom: 45px;
}

#optima .col-md-10 {
    padding-top: 20px;
    padding-left: 6px;
    padding-bottom: 0;
    margin-left: 15%;
}

@media (max-width:1280px) {
    #optima .col-md-10 {
        margin-left: 16%;
        padding-left: 1.3%;
    }
}

#optima .col-md-10 .container {
    width: 100%;
}

#optima .btn {
    width: 183px;
    height: 35px;
    border-radius: 2px;
    background-color: #42ae2b;
    border-color: #42ae2b;
}

#optima .btn:hover,
#optima .btn:enabled {
    background-color: #42ae2b;
    border-radius: 2px;
    border-color: #42ae2b;
}


#optima a {
    text-decoration: none;
    color: white;
}

#optima a:hover {
    color: white;
}

#optima .heading p {
    height: 27px;
    font-size: 20px;
    text-align: left;
    color: #002035;
}

#optima hr {
    width: 118%;
    border: solid 0.5px #aaa7a7;
}

#optima .list p {
    font-size: 20px;
    text-align: left;
    color: #002035;
}

#optima .list img {
    width: 25px;
    height: 25px;
    float: right;
}

#optima .error {
    font-size: 15px;
    text-align: left;
    color: #ff5a6e;
}

#optima .list hr {
    border: solid 0.5px #aaa7a7;
    width: 103%;
}

#optima input[type=file] {
    position: relative;
    top: -28px;
    left: 44px;
}

#optima .upload {
    margin-top: 70px;
}

#optima .head h2 {
    font-size: 20px;
    text-align: left;
    color: #002035;
}

#optima .head hr {
    border: solid 0.5px #aaa7a7;
}

#optima .select label {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    color: #002035;
}

#optima .select .col-md-12 {
    margin: 20px;
}

#optima .select input[type=radio] {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: solid 1px #979797;
}

#optima .select p {
    margin-left: 10px;
    margin-top: 2px;
}

#optima .optimise .btn-success {
    width: 142px;
    height: 35px;
    border-radius: 2px;
    background-color: #39af1c;
}

#optima .settings {
    padding-left: 0;
    margin-left: 9%;
    margin-top: 10%;
}

#optima .settings h3 {
    font-size: 25px;
    font-weight: 300;
    color: #002035;
}

#optima .settings p {
    font-size: 20px;
    font-weight: 500;
    color: #002035;
    margin-top: 30px;
}

#optima .header h3 {
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #000000;
}

#optima .orders {
    width: 100%;
}

#optima .orders hr {
    border: solid 0.6px #aaa7a7
}



#optima .modal-dialog {
    margin-left: 106px;
}

#optima .modal-content {
    width: 1182px;
}

#optima .modal-body {
    padding-left: 0;
}

#optima .modal-body .container {
    padding-left: 0;
    margin-left: 0;
}

#optima .modal-body .container .col-md-10 {
    margin-left: -35px;
}

#optima .modal-body .container .col-md-11 {
    border-radius: 2px;
    background-color: #f8f8f8;
    border: solid 0.5px #002e4e;
    padding: 12px;
    margin-left: -35px;
}

#optima .modal-body .container .col-md-1 {
    margin-top: 25px;
}

#optima .modal-body .container .col-md-11 span {
    width: 35px;
    height: 15px;
    font-size: 10.7px;
    text-align: left;
    color: #1d2e3a;
}

#optima .modal-body .container .col-md-11 p {
    width: 120px;
    height: 19px;
    font-size: 13.9px;
    text-align: left;
    color: #5d5d5d;
}

#optima .modal-body .container .col-md-12 {
    margin: 10px;
}

#optima .modal-footer .btn {
    background: white;
}

#optima .modal-footer .closed {
    width: 86px;
    height: 35px;
    border-radius: 3px;
    border: solid 1px #39af1c;
    color: #39af1c;
    margin-right: 40px;
}

#optima .modal-footer .delete {
    width: 86px;
    height: 35px;
    border-radius: 3px;
    border: solid 1px #39af1c;
    color: #39af1c;
    margin-right: 40px;
}

#optima .modal-footer .indent {
    width: 151px;
    height: 35px;
    border-radius: 3px;
    background-color: #39af1c;
    color: white;
}

#optima #material .modal-title {
    font-size: 1.3em;
    font-weight: 900;
    text-align: center;
    color: #002035;
}

#optima #material .modal-header {
    border: none;
}

#optima #material .modal-body .container .col-md-1 {
    width: 12%;
    color: #339a23;
    font-size: 1em;
    font-weight: 900;
}

#optima #material .modal-body .container {
    padding-left: 7%;
    margin-left: 0;
    text-align: center;
}

#optima #material .modal-footer {
    border-top: none;
    text-align: center;
}

#optima #material hr {
    width: 90%;
}

#optima #material .modal-body .body {
    padding-bottom: 1%;
}

#optima #material .modal-body .body .col-md-1 {
    font-size: 1em;
    font-weight: 500;
    color: #5a5a5a;
}

#optima #material .modal-footer .btn-default {
    border-radius: 2px;
    border: solid 1px #39af1c;
    width: 20%;
    font-size: 1.1em;
    color: #39af1c;
    outline-color: #39af1c;
    margin-right: 5%;
}

#optima #material .modal-footer .btn-success {
    border-radius: 2px;
    background-color: #39af1c;
    color: #ffffff;
    font-size: 1.1em;
    outline-color: #39af1c;
    width: 14%;

}

@media (min-width:1680px) {
    #optima #material .modal-content {
        width: 143rem;
    }
}

@media (max-width:1280px) {
  #optima   #material .modal-content {
        width: 107rem;
    }
}

#optima .tab-content #menu1 .second-pane {
    background-color: #002035;
    width: 28%;
    float: left;
    height: 6em;
    margin-top: -2%;
    padding-top: 2%;
}

#optima .tab-content #menu1 img {
    color: #ffffff;
}

#optima .tab-content #menu1 input[type=text] {
    background: #002035;
    border: solid 1px #002035;
    box-sizing: border-box;
    color: white;
    width: 88%;
    padding: 10px;
    outline-color: #002035;
}

#optima ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ffffff;
}

#optima :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
    opacity: 1;
}

#optima ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ffffff;
    opacity: 1;
}

#optima :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff;
}

#optima ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ffffff;
}

#optima .tab-content #menu1 {
    width: 24%;
    border-right: 0px solid #ddd;
    position: fixed;
    top: 0;
    height: 100vh;
    background: #022b47;
}

#optima .tab-content #menu1 .container {
    padding-right: 0;
    padding-left: 0;
}

#optima .tab-content #menu1 .second-pane {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding: 8%;
    border-bottom: 1px solid #ddd;
}

#optima .tab-content #menu1 .third-pane {
    margin-left: 100%;
    font-size: 1.6em;
    position: relative;
    top: -70px;
    width: 220%;
}

@media (max-width:1280px) {
   #optima  .tab-content #menu1 .third-pane {
        width: 249%;
    }
}

#optima .tab-content #menu1 .third-pane .number {
    width: 140%;
    line-height: 25%;
    height: 11vh;
}

@media (max-width:1280px) {
   #optima  .tab-content #menu1 .third-pane .number {
        width: 122%;
    }

}

#optima .tab-content #menu1 .third-pane .number p,
span {
    font-size: 11px;
}

#optima tab-content #menu1 .third-pane .details {
    width: 160%;
}

#optima .tab-content #menu1 .third-pane .details p {
    font-size: 11px;
    color: #339a23;
    font-weight: 900;

}

#optima .tab-content #menu1 .third-pane .details .col-md-1 {
    width: 13%;
}

#optima .tab-content #menu1 .third-pane .details .col-md-2 {
    width: 14%;
}

@media (max-width:1280px) {
   #optima  .tab-content #menu1 .third-pane .details .col-md-2 {
        width: 14%;
    }
   #optima  .tab-content #menu1 .third-pane .details .col-md-1 {
        width: 9.5%;
    }
}

#optima .tab-content #menu1 .third-pane .card {
    width: 118%;
    height: 47vh;
    overflow-y: scroll;
}

@media (max-width:1280px) {
   #optima  .tab-content #menu1 .third-pane .card {
        width: 101%;
    }
}

#optima .tab-content #menu1 .third-pane .card .panel-heading {
    background: #aecbdf;
}

#optima .tab-content #menu1 .third-pane .card .panel-default {
    margin-right: 2%;
    margin-left: 1%;
}

#optima .tab-content #menu1 .third-pane .card .panel-group a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

#optima .tab-content #menu1 .third-pane .card .panel-group p {
    font-size: 11px;

}

#optima .tab-content #menu1 .third-pane .card .col-md-1 {
    width: 11%;
}

#optima .tab-content #menu1 .third-pane .card .col-md-2 {
    width: 13%;
}

@media (max-width:1280px) {
   #optima  .tab-content #menu1 .third-pane .card .col-md-2 {
        width: 13%;
    }
}

#optima .tab-content #menu1 .third-pane .card .panel-body {
    padding-left: 0;
    text-align: center;
}

#optima .tab-content #menu1 .ul {
    position: absolute;
    top: 12%;
}

@media (min-width:1680px) {
    #optima .tab-content #menu1 .ul {
        position: absolute;
        top: 7.2%;
    }
}

@media (max-width:1280px) {
   #optima  .tab-content #menu1 .ul {
        position: absolute;
        top: 11%;
    }
}


#optima .nav-pills > li.active > a {
    color: #fff;
    background-color: #002036;
    border-left: 4px solid #42ae2b;
    border-radius: 1px;
}

#optima .nav-pills > li.active > a,
#optima .nav-pills > li.active > a:focus,
#optima .nav-pills > li.active > a:hover {
    color: #fff;
    background: #002036;
}

#optima .nav > li > a:hover {
    background: #002036;
}

#optima .ul span {
    color: #5b8baa;
}

#optima .tab-content .footer {
    position: fixed;
    bottom: 0%;
    left: 39%;
    padding-bottom: 10px;
    background: white;
    width: 61%;
    padding-top: 10px;

}

#optima .tab-content .footer .foot {
    border-radius: 2px;
    background-color: #39af1c;
}
