<!DOCTYPE html>
<html lang="en" ng-app="MasterMaterial">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/4bd930b540.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Master Material</title>
</head>

<body ng-controller="Material">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle text-right" id="menu_icon"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <button id="close_toggle" type="button" class="navbar-toggle close_btn"> </button>
                <a class="navbar-brand" href="index.htm"><img src="images/logo-white.png"></a>
            </div>
            <div class="pull-right hidden-xs user"> <span><img src="images/bitmap.png" alt=""></span>
                <h5>Super Admin</h5>
                <h5>Mr. Nitin JayaKrishnan</h5>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="padding-left: 0;padding-right: 0;">
        <div id="myNavbar">
            <div class="col-sm-2 col-md-2 col-lg-1 col1">
                <div class="sidebar">
                    <ul class="text-center">
                        <li>
                            <a href="logorg-main-screen.htm" class="logorg active">
                                <img src="images/Logorg.svg" alt="">
                                <p>Logorgs</p>
                            </a>
                        </li>
                        <li>
                            <a href="consignee-main-screen.htm" class="consignee">
                                <img src="images/Consignee 1.svg" alt="">
                                <p>Consignees</p>
                            </a>
                        </li>
                        <li>
                            <a href="vendor-main-screen.htm" class="vendors">
                                <img src="images/Vendor.svg" alt="">
                                <p>Vendors</p>
                            </a>
                        </li>
                        <li>
                            <a href="rate-matrix.htm" class="rate_matrix">
                                <img src="images/Rate Metrix.svg" alt="">
                                <p>Contracts</p>
                            </a>
                        </li>
                        <li>
                            <a href="master-material.htm" class="master_material">
                                <img src="images/Material master.svg" alt="">
                                <p>Materials</p>
                            </a>
                        </li>
                        <li>
                            <a href="bu-and-cc-main.htm" class="bu_cc">
                                <img src="images/BU CC.svg" alt="">
                                <p>BU and CC</p>
                            </a>
                        </li>
                        <li>
                            <a href="users.htm" class="users">
                                <img src="images/Users.svg" alt="">
                                <p>Users</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-11 col2" when-scrolled="loadMore()">
            <div class="text-container">
                <div class="search_header">
                    <div class="col-sm-2 col-md-4">
                        <form id="search">
                            <img src="images/search.png">
                            <input type="text" name="search" placeholder="Search here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search here'">
                        </form>
                    </div>

                    <div class="col-sm-10 col-md-8 text-right"><a href="#" class="btn" data-target="#bulkUpload" data-toggle="modal">Add New Material</a></div>
                </div>
                <div class="modal fade" id="bulkUpload" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New LogOrg</h4>
                            </div>
                            <div class="modal-body second">
                                <div class="container">
                                    <a href="#" class="btn">Download Sample</a>
                                    <a href="#" class="btn btn-success" id="upload">Bulk Upload
                                           </a>
                                    <input type="file" id="file" style="display: none;">
                                </div>
                                <div class="col-md-12">
                                    <span class="upload-path"></span>
                                </div>
                                <div class="container" style="text-align: center;">
                                    <a href="#" class="btn" data-dismiss="modal" style="background: #42b02b;color: white;margin-top: 10px;">Add</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="content text-center">
                    <table width="100%" class="responsive text-center listing" id="master">
                        <tr class="text-center">
                            <th>Material_Code</th>
                            <th class="text-center">Material_Name</th>
                            <th>BUn</th>
                            <th>BG</th>
                            <th>MAG</th>
                            <th>AG</th>
                            <th>SAG</th>
                            <th>Valid_Form</th>
                            <th>Valid_To</th>
                            <th>Pce/Box</th>
                            <th>L(CM)</th>
                            <th>W(CM)</th>
                            <th>H(CM)</th>
                            <th>BoxW(KG)</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="element in mydata " ng-include="getTemplate(element)"></tr>
                        <script type="text/ng-template" id="display">
                            <td>{{element.material_code}}</td>
                            <td>{{element.material}}</td>
                            <td>{{element.BU}}</td>
                            <td>9520</td>
                            <td>9520</td>
                            <td>9520</td>
                            <td>9520</td>
                            <td>9520</td>
                            <td>9520</td>
                            <td>{{element.pce_box}}</td>
                            <td>{{element.box_l}}</td>
                            <td>{{element.box_w}}</td>
                            <td>{{element.box_h}}</td>
                            <td>{{element.box_kg}}</td>
                            <td><a href="#" class="edit" ng-click="editMaterial(element)">Edit</a></td>
                            <td><a href="#" class="delete">Delete</a></td>
                        </script>

                        <script type="text/ng-template" id="edit">
                            <td><input type="text" ng-model="selected.material_code"></td>
                            <td><input type="text" ng-model="selected.material"></td>
                            <td><input type="text" ng-model="selected.BU"></td>

                            <td>9520</td>
                            <td>9520</td>
                            <td>9520</td>
                            <td>9520</td>
                            <td>9520</td>
                            <td>9520</td>
                            <td><input type="text" ng-model="selected.pce_box"></td>
                            <td><input type="text" ng-model="selected.box_l"></td>
                            <td><input type="text" ng-model="selected.box_w"></td>
                            <td><input type="text" ng-model="selected.box_h"></td>
                            <td><input type="text" ng-model="selected.box_kg"></td>
                            <td><button ng-click="saveMaterial($index)">Save</button>
                                <button ng-click="reset()">Cancel</button></td>


                        </script>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#menu_icon").click(function() {
            $("#myNavbar").animate({
                left: "0"
            }, 1000);
            $(".sidebar").css("right", "0px");
            $("#menu_icon").hide();
            $("#close_toggle").show();
        });
        $("#close_toggle").click(function() {
            $("#myNavbar").animate({
                left: "-298px"
            }, 1000);
            $(".navbar-toggle").css("right", "0px");
            $("#close_toggle").hide();
            $("#menu_icon").show();
        });

    </script>
    <script src="script.js"></script>
</body>

</html>
