<!DOCTYPE html>
<html lang="en" ng-app="ratematrix">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/4bd930b540.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <title>Rate Matrix</title>
    <style>
        .form {
            height: 30px;
            border-radius: 2px;
            border: solid 1px #002e4e;
            background: white;
            margin-right: 10px;
            width: 130px;
            display: none;
        }


        /*
         ::-webkit-scrollbar {
            width: 15px;
        }
        
         ::-webkit-scrollbar-track {
            background-color: white;
        }
        
         ::-webkit-scrollbar-thumb {
            background-color: #fdfdfd;
        }
        
         ::-webkit-scrollbar-button {
            background-color: white;
        }
        
         ::-webkit-scrollbar-corner {
            background-color: white;
        }
*/

    </style>
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle text-right" id="menu_icon"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <button id="close_toggle" type="button" class="navbar-toggle close_btn"> </button>
                <a class="navbar-brand" href="index.htm"><img src="images/logo-white.png"></a>
            </div>
            <div class="pull-right hidden-xs user"> <span><img src="images/bitmap.png" alt=""></span>
                <h5>Super Admin</h5>
                <h5>Mr. Nitin JayaKrishnan</h5>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="padding-left: 0;padding-right: 0;">
        <div id="myNavbar">
            <div class="col-sm-2 col-md-2 col-lg-1 col1">
                <div class="sidebar">
                    <ul class="text-center">
                        <li>
                            <a href="logorg-main-screen.htm" class="logorg active">
                                <img src="images/Logorg.svg" alt="">
                                <p>Logorgs</p>
                            </a>
                        </li>
                        <li>
                            <a href="consignee-main-screen.htm" class="consignee">
                                <img src="images/Consignee 1.svg" alt="">
                                <p>Consignees</p>
                            </a>
                        </li>
                        <li>
                            <a href="vendor-main-screen.htm" class="vendors">
                                <img src="images/Vendor.svg" alt="">
                                <p>Vendors</p>
                            </a>
                        </li>
                        <li>
                            <a href="rate-matrix.htm" class="rate_matrix">
                                <img src="images/Rate Metrix.svg" alt="">
                                <p>Contracts</p>
                            </a>
                        </li>
                        <li>
                            <a href="master-material.htm" class="master_material">
                                <img src="images/Material master.svg" alt="">
                                <p>Materials</p>
                            </a>
                        </li>
                        <li>
                            <a href="bu-and-cc-main.htm" class="bu_cc">
                                <img src="images/BU CC.svg" alt="">
                                <p>BU and CC</p>
                            </a>
                        </li>
                        <li>
                            <a href="users.htm" class="users">
                                <img src="images/Users.svg" alt="">
                                <p>Users</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-11 col2" when-scrolled="loadMore()">
            <div class="text-container">
                <div class="search_header" id="rate">
                    <div class="col-sm-2 col-md-3" style="padding-left: 0;">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#home" class="change1">Detention Matrix</a></li>
                            <li><a data-toggle="pill" href="#menu1" class="change">Rate Matrix </a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-md-4 ">
                        <form id="search">
                            <img src="images/search.png">
                            <input type="text" name="search" placeholder="Search here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search here'">
                        </form>
                    </div>

                    <div class="col-sm-4 col-md-5 text-right">
                        <select class="form">
                                <option>Select Vendor</option>
                        </select>
                        <a href="#" class="btn detention" data-toggle="modal" data-target="#bulkUpload">Add New Detention Matrix</a>
                        <a href="#" class="btn contracts" style="display: none;" data-toggle="modal" data-target="#bulkUpload1">Add New Rate Matrix</a>
                    </div>
                    <div class="modal fade" id="bulkUpload" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add New LogOrg</h4>
                                </div>
                                <div class="modal-body second">
                                    <div class="container">
                                        <a href="#" class="btn">Download Sample</a>
                                        <a href="#" class="btn btn-success" id="upload">Bulk Upload
                                           </a>
                                        <input type="file" id="file" style="display: none;">
                                    </div>
                                    <div class="col-md-12">
                                        <span class="upload-path"></span>
                                    </div>
                                    <div class="container" style="text-align: center;">
                                        <a href="#" class="btn" data-dismiss="modal" style="background: #42b02b;color: white;margin-top: 10px;">Add</a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal fade" id="bulkUpload1" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add New LogOrg</h4>
                                </div>
                                <div class="modal-body second">
                                    <div class="container">
                                        <a href="#" class="btn">Download Sample</a>
                                        <a href="#" class="btn btn-success" id="upload1">Bulk Upload
                                           </a>
                                        <input type="file" id="file1" style="display: none;">
                                    </div>
                                    <div class="col-md-12">
                                        <span class="upload-path"></span>
                                    </div>
                                    <div class="container" style="text-align: center;">
                                        <a href="#" class="btn" data-dismiss="modal" style="background: #42b02b;color: white;margin-top: 10px;">Add</a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-content" id="detention">
                    <div id="home" class="tab-pane fade in active" ng-controller="detentionMatrix">
                        <table width="99%" class="table text-center">
                            <thead>
                                <tr class="text-center">
                                    <th>ID</th>
                                    <th>Vehicle type ID</th>
                                    <th>FLag</th>
                                    <th>Days</th>
                                    <th>Amount</th>
                                    <th>Primary</th>
                                    <th>NC2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="element in mydata">
                                    <td>{{element._id}}</td>
                                    <td ng-repeat="(k,v) in element.delay">{{v.vehicle_id}}</td>
                                    <td>Delay</td>
                                    <td>2</td>
                                    <td>76607</td>
                                    <td>76607</td>
                                    <td>76607</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div id="menu1" class="tab-pane fade" style="overflow-x: scroll;" ng-controller="rateMatrix">
                        <table width="99%" class="table text-center">
                            <thead>
                                <tr class="text-center">
                                    <th>ID</th>
                                    <th>Source City Code</th>
                                    <th>Source City Code Dese</th>
                                    <th>Destination City Code</th>
                                    <th>Destination City Code_Desc</th>
                                    <th>VehicleTypeID</th>
                                    <th>VehicleType_Desc</th>
                                    <th>RateMatrix_Distance</th>
                                    <th>ForwardingAgentID</th>
                                    <th>ForwardingAgentName</th>
                                    <th>PreferenceNo</th>
                                    <th>TransitDays</th>
                                    <th>RateMatrix_Rate</th>
                                    <th>UOM_Flag</th>
                                    <th>ValidForm</th>
                                    <th>ValidTo</th>
                                    <th>MinimumRate</th>
                                    <th>MinimumRate_MultiplyingFactor</th>
                                    <th>MinimumRate_UOM</th>
                                    <th>DelayDetentionColumn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="element in mydata">
                                    <td>{{element.ratematrix_id}}</td>
                                    <td>{{element.ratematrix_sourcecitycode}}</td>
                                    <td>{{element.sourcecitycode_desc}}</td>
                                    <td>{{element.ratematrix_destinationcitycode}}</td>
                                    <td>{{element.destinationcitycode_desc}}</td>
                                    <td>{{element.ratematrix_vehicletypeid}}</td>
                                    <td>{{element.vehicletype_desc}}</td>
                                    <td>{{element.ratematrix_distance}}</td>
                                    <td>{{element.ratematrix_forwardingagentid}}</td>
                                    <td>{{element.ratematrix_forwardingagentname}}</td>
                                    <td>{{element.ratematrix_preferenceno}}</td>
                                    <td>{{element.ratematrix_transitdays}}</td>
                                    <td>{{element.ratematrix_rate}}</td>
                                    <td>{{element.ratematrix_uom_flag}}</td>
                                    <td>{{element.ratematrix_validfrom}}</td>
                                    <td>{{element.ratematrix_validto}}</td>
                                    <td>{{element.ratematrix_minimumrate}}</td>
                                    <td>{{element.ratematrix_multiplyingfactor}}</td>
                                    <td>{{element.ratematrix_minimumrate_uom}}</td>
                                    <td>{{element.ratematrix_delaydetention_group}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        $("#menu_icon").click(function() {
            $("#myNavbar").animate({
                left: "0"
            }, 1000);
            $(".sidebar").css("right", "0px");
            $("#menu_icon").hide();
            $("#close_toggle").show();
        });
        $("#close_toggle").click(function() {
            $("#myNavbar").animate({
                left: "-298px"
            }, 1000);
            $(".navbar-toggle").css("right", "0px");
            $("#close_toggle").hide();
            $("#menu_icon").show();
        });
        $(document).ready(function() {
            $('.change').on('click', function() {
                $('.detention').hide();
                $('.contracts').show();
                $('.form').show();
            });
            $('.change1').on('click', function() {
                $('.detention').show();
                $('.contracts').hide();
                $('.form').hide();
            })
        })

    </script>
    <script src="script.js"></script>
</body>

</html>
