<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/4bd930b540.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Users Main Screen</title>
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle text-right" id="menu_icon"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <button id="close_toggle" type="button" class="navbar-toggle close_btn"> </button>
                <a class="navbar-brand" href="index.htm"><img src="images/logo-white.png"></a>
            </div>
            <div class="pull-right hidden-xs user"> <span><img src="images/bitmap.png" alt=""></span>
                <h5>Super Admin</h5>
                <h5>Mr. Nitin JayaKrishnan</h5>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="padding-left: 0;padding-right: 0;">
        <div id="myNavbar">
            <div class="col-sm-2 col-md-2 col-lg-1 col1">
                <div class="sidebar">
                    <ul class="text-center">
                        <li>
                            <a href="logorg-main-screen.htm" class="logorg active">
                                <img src="images/Logorg.svg" alt="">
                                <p>Logorgs</p>
                            </a>
                        </li>
                        <li>
                            <a href="consignee-main-screen.htm" class="consignee">
                                <img src="images/Consignee 1.svg" alt="">
                                <p>Consignees</p>
                            </a>
                        </li>
                        <li>
                            <a href="vendor-main-screen.htm" class="vendors">
                                <img src="images/Vendor.svg" alt="">
                                <p>Vendors</p>
                            </a>
                        </li>
                        <li>
                            <a href="rate-matrix.htm" class="rate_matrix">
                                <img src="images/Rate Metrix.svg" alt="">
                                <p>Rate Matrix</p>
                            </a>
                        </li>
                        <li>
                            <a href="master-material.htm" class="master_material">
                                <img src="images/Material master.svg" alt="">
                                <p>Master Material</p>
                            </a>
                        </li>
                        <li>
                            <a href="bu-and-cc-main.htm" class="bu_cc">
                                <img src="images/BU CC.svg" alt="">
                                <p>BU and CC</p>
                            </a>
                        </li>
                        <li>
                            <a href="users.htm" class="users">
                                <img src="images/Users.svg" alt="">
                                <p>Users</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-11 col2">
            <div class="text-container">
                <div class="search_header">
                    <div class="col-xs-12 col-sm-4 col-md-7">
                        <form id="search">
                            <img src="images/search.png">
                            <input type="text" name="search" placeholder="Search here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search here'">
                        </form>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 text-right">
                        <select class="form-control">
      <option value="">Select Role</option>
     </select>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-3 text-right"><a href="#" class="btn" data-toggle="modal" data-target="#add_logorg">Add New User</a>
                        <div class="modal fade" id="add_logorg" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <header>
                                        <h1>Add New LogOrg</h1>
                                    </header>
                                    <div class="modal-body">
                                        <form>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>LogOrg Name</label>
                                                    <input type="text" class="form-control" id="">
                                                </div>
                                                <div class="form-group">
                                                    <label>SAP ID</label>
                                                    <input type="text" class="form-control" id="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone Number</label>
                                                    <input type="text" class="form-control" id="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Street</label>
                                                    <input type="text" class="form-control" id="">
                                                </div>
                                                <div class="form-group">
                                                    <label>City</label>
                                                    <input type="text" class="form-control" id="">
                                                </div>
                                                <div class="form-group">
                                                    <label>State</label>
                                                    <input type="text" class="form-control" id="">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Pincode</label>
                                                    <input type="text" class="form-control" id="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Region</label>
                                                    <input type="text" class="form-control" id="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Manager Name</label>
                                                    <input type="text" class="form-control" id="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Manager Email</label>
                                                    <input type="text" class="form-control" id="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Manager Phone Number</label>
                                                    <input type="text" class="form-control" id="">
                                                </div>
                                                <a href="#" class="add-manager">Add Manager</a> </div>
                                            <div class="col-sm-12 text-center">
                                                <input type="submit" class="btn btn-default" value="Add">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="container">
                        <div class="container" id="card">

                            <div class="row header" style="padding: 0;padding-top: 10px;">
                                <div class="col-md-5 col-xs-6" ng-cloak>
                                    Mr. Nitin Gutpa
                                </div>
                                <div class="col-md-3 hidden-xs"></div>
                                <div class="col-md-2 col-xs-6" ng-cloak>Account Status:Active</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-1 hidden-xs">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle open_menu" data-toggle="dropdown"></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" data-toggle="modal" data-target="#userModal">Edit</a></li>
                                            <li><a href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal fade" id="userModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <h4 class="modal-title text-center">Edit</h4>


                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="email">Name</label>
                                                    <input type="text" class="form-control" value="Nitin Gupta">
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">User Role</label>
                                                    <select class="form-control">
                                                        <option>Admin</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Admin</label>
                                                    <select class="form-control">
                                                        <option>Mr. Selvam</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Assigned PLP</label>
                                                    <select class="form-control">
                                                        <option>Philips Lightning Chennai</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Phone Number</label>
                                                    <input type="number" class="form-control" value="9876543210">
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Email ID</label>
                                                    <input type="email" class="form-control" value="nitin@gmail.com">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-success" data-dismiss="modal">Update</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>





                            </div>
                            <div class="row body">
                                <div class="col-md-2 col-xs-12">
                                    <span>User Role</span>
                                    <p ng-cloak data-editable>
                                        Logorg Manager
                                    </p>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <span>Admin</span>
                                    <p ng-cloak> Mr. Selvam</p>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <span>Assigned PLP</span>
                                    <p ng-cloak>Philips Lightning Chennai</p>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <span>Phone Number</span>
                                    <p ng-cloak>9876543210</p>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <span>Email ID</span>
                                    <p ng-cloak>Nitin.gupta@pando.in</p>
                                </div>


                            </div>
                            <hr class="hidden-lg text-center">
                            <div class="container collapse" id="gate_open{{list1[$index]}}" aria-expanded="true">
                                <div class="row" ng-repeat="uitem in element.user">
                                    <div class="col-md-2 col-xs-6">
                                        <span>Manager Name</span>
                                        <p ng-cloak>{{uitem.name}}</p>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <span>Manager Email Id</span>
                                        <p ng-cloak>{{uitem.email_id}}</p>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <span>Manager Phone Number</span>
                                        <p ng-cloak>{{uitem.mobile_no}}</p>
                                    </div>
                                </div>
                                <div class="container logorgs" ng-repeat="gitem in element.gate_list">
                                    <div class="container-fluid">
                                        <div class="col-md-2 first">
                                            <span>Gate Name</span>
                                            <p ng-cloak>{{gitem.gate_number}}</p>
                                        </div>
                                        <div class="col-md-5">
                                            <span>Street</span>
                                            <p ng-cloak>{{gitem.address}}</p>
                                        </div>
                                        <div class="col-md-1">
                                            <span>City</span>
                                            <p ng-cloak>{{gitem.country}}</p>
                                        </div>
                                        <div class="col-md-1">
                                            <span>State</span>
                                            <p ng-cloak>{{gitem.state}}</p>
                                        </div>
                                        <div class="col-md-1">
                                            <span>Pincode</span>
                                            <p ng-cloak>{{gitem.pincode}}</p>
                                        </div>
                                        <div class="col-md-1">
                                            <span>Country</span>
                                            <p ng-cloak>{{gitem.country}}</p>
                                        </div>
                                        <div class="col-md-1">
                                            <span>Region</span>
                                            <p ng-cloak>{{gitem.region}}</p>
                                        </div>
                                    </div>
                                    <div class="container-fluid">
                                        <div class="col-md-2 first">
                                            <span>SAP ID</span>
                                            <p ng-cloak>{{gitem.sap_id}}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <span>Managed by</span>
                                            <p ng-cloak>{{gitem.name}}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <span>Mobile Number</span>
                                            <p ng-cloak>{{gitem.mobile_no}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#menu_icon").click(function() {
            $("#myNavbar").animate({
                left: "0"
            }, 1000);
            $(".col1").css("right", "0px");
            $("#menu_icon").hide();
            $("#close_toggle").show();
        });
        $("#close_toggle").click(function() {
            $("#myNavbar").animate({
                left: "-200px"
            }, 1000);
            $(".navbar-toggle").css("right", "0px");
            $("#close_toggle").hide();
            $("#menu_icon").show();
        });

    </script>
</body>

</html>
